@import url('https://fonts.font.im/css?family=Roboto');

.body{
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    background-color: rgb(60, 136, 124);
    padding: 15px 20px;
    margin-bottom: 24px;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.header-list{
    display: flex;
    justify-content: end;
}
.header-list li{
    margin-right: 10px;
}
.header-list a {
    text-decoration: none;
    color: white;
}


.nav-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    margin: 0rem 24px;
}

.nav-folder-content {
    overflow: auto;
    overflow-y: auto;
    height: 400px;
    font-size: 0.8rem;
}

.nav-folder{
    display: grid;
    grid-template-rows: 2.5rem 1fr;
    padding: 8px 5px;
    margin-bottom: 24px;
    grid-template-columns: 1fr;
    border: 1px black solid;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
}
.nav-folder-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.nav-folder-inline .nav-folder-header{
    border-bottom: 1px solid grey;
}
.nav-folder-inline .nav-folder-content{
    border: 1px;
}
.nav-folder-open-switch{
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: white;
}
.nav-folder-name{
    font-size: 1.25rem;
    padding:8px;

}

.nav-folder-open-switch{
    display: none;
}

.nav-folder-content::-webkit-scrollbar {
    display: none; 
  }

.small-content {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 0.5rem;
}
.small-content a{
    padding-left: 0.5rem;
}

.web-btn {
    width: 32px;
    height: 32px;
}
.nav-folder-inline .nav-folder-name{
    font-size: 0.8rem;
    margin-left: 8px;
}
.nav-folder-inline .nav-folder-content{
    font-size: 0.8rem;
}

.nav-folder-inline .nav-folder-open-switch{
    display:inline;
}
.nav-folder-inline .nav-folder-content.open {
    max-height: fit-content;
    display: block;
}
.nav-folder-inline   .nav-folder-content {
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: auto;
    overflow-y: auto;
    height: 300px;
}
.small-content:hover{
    background-color: rgba(238, 238, 238);
    color: rgba(0, 0, 0, 0.5);
}
.nav-folder-inline .nav-folder-content{
    border: 1px rgba(0, 0, 0, 0.2),solid;
}
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
@media (max-width: 768px) {
    .nav-item{
        margin: 0rem 2rem;
        display: grid;
        grid-template-columns: 1fr;
    }

    .nav-folder-content {
        max-height: 0;
        transition: max-height 0.5s ease-out;
        overflow: auto;
        overflow-y: auto;
        height: 300px;
    }

    .nav-folder-content.open {
        max-height: 500px;
        display: block;
    }
    .nav-folder-open-switch{
        display:inline;
    }
  }

  @media (min-width:1200px) {
    .nav-item{
        margin: 0rem 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

  }